@charset "utf-8";

html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

.gallery {
  text-align: center;
}

.navigation {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
