@charset "utf-8";

html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

div {
width: 100%;
display: flex;
justify-content: space-evenly;
flex-flow: row wrap;
position: relative;
}

img {
width: 100%;
height: auto;
}

img:hover {
  box-sizing: border-box;
  border: 8px solid black;
}

a {
flex: 0 1 100%;
}

h1 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  a {
    flex: 0 1 31%;
  }
}
