@charset "utf-8";

html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

.container {
  display: flex;
  align-items: center;
}

#left, #right {
  flex: 1;
}

#photo {  
  width: 90%;
  height: auto;
}

h1 {
  text-align: center;
}
