@charset "utf-8";

html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

.gallery {
  width: 100%;
}

img {
  float: left;
  width: 90%;
  margin: auto;
}

.gallery, h1 {
  text-align: center;
}

button {
  float: left;
  width: 5%;
  height: 100%;
}
