@charset "utf-8";

html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

div {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-flow: row wrap;
position: relative;
}

img {
width: 100%;
height: auto;
}

img:hover {
  border: 8px solid black;
  border-style: inset;
}

a {
flex: 0 1 31%;
}

h1 {
  text-align: center;
}
